<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>

<p><%= users.length %> users found.</p>

<ul>
    <% users.forEach(function(user) { %>
        <li><%= user.username %></li>
    <% }); %>
</ul>

</body>
</html>